version: '3.1'
services:
  neo4j:
    image: neo4j
    restart: always
    environment:
      - NEO4J_AUTH
      - NEO4J_dbms_memory_pagecache_size
      - NEO4J_dbms_memory_heap_maxSize
      - NEO4J_dbms_memory_heap_initialSize
    volumes:
      - ./neo4j_volume:/data
    ports:
      - 7474:7474
      - 7687:7687
  pyspark:
    image: jupyter/pyspark-notebook
    restart: always
    ports:
      - 8899:8888
    volumes:
      - ./pyspark:/home/jovyan/work
  jupyter:
    build: ./jupyter
    command: jupyter notebook --ip=0.0.0.0 --allow-root
    # command: python process_nn.py
    environment:
      - NEO4J_AUTH
      - START_INDEX
      - STOP_INDEX
    volumes:
      - ./jupyter:/usr/src/app
    ports:
      - 8877:8888
    depends_on:
      - neo4j
